include embed_requirements.txt
include requirements.txt
include versioneer.py
include src/azure_devops_artifacts_helpers/_version.py
include src/azure_devops_artifacts_helpers/wheels/*.whl
include supported_python_versions.json
